:root {
  --raleway: "Raleway", sans-serif;
  --cabin: "Helvetica", sans-serif;
  --charcoal: #2C2C2C;
}

body {
  padding: 0;
  margin: 0;
  color: var(--charcoal);
}

h1 {
  font-size: 3em;
  font-family: var(--raleway);
}

h2 {
  font-size: 2.3em;
  font-family: var(--raleway);
  font-weight: 500;
}

h3 {
  font-size: 1.7em;
  font-family: var(--cabin);
  font-weight: 500;
}

p {
  font-size: 1.2em;
  font-family: var(--cabin);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--charcoal);
}

a img:hover {
  opacity: 0.5;
}

.bold {
  font-weight: 700;
}

.section-1 img {
  padding: 15px;
}

.img-100 {
  width: 100%;
}

.p-2 {
  padding: 2em;
}

.pic-lg img {
  width: 100%;
}

.pic-card {
  width: 90%;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.navbar {
  padding: 0 2em;
}

.align-r {
  float: right;
}

@media only screen and (min-width: 768px) {
  .col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
}
